{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h2>固定費登録</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">登録</button>
        <!-- 戻るボタンの追加 -->
        <a href="{% url 'accountbook:accountbook_list' %}" class="btn btn-secondary">戻る</a>
    </form>
</div>
{% endblock %}
