{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div {
        text-align: center;
    }
    .btn-custom, .btn-detail {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block;
        margin: 10px;
    }
    .btn-custom {
        background-color: #4CAF50; /* 緑色の背景 */
        color: white;
        border: 1px solid #4CAF50; /* 緑色の境界線 */
    }
    .btn-custom:hover {
        background-color: white;
        color: #4CAF50; /* ホバー時のテキスト色を緑に */
        border: 1px solid #4CAF50;
    }
    .btn-detail {
        background-color: #3498db; /* 青色の背景 */
        color: white;
        border: 1px solid #3498db; /* 青色の境界線 */
    }
    .btn-detail:hover {
        background-color: white;
        color: #3498db; /* ホバー時のテキスト色を青に */
        border: 1px solid #3498db;
    }
    input[type="number"], input[type="text"] {
        width: 200px;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input[type="number"]:focus, input[type="text"]:focus {
        border-color: #4A90E2;
        box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
    }
    .tooltip {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
    input:hover + .tooltip {
        visibility: visible;
    }
</style>
<div class="container">
    <h2>支出一覧</h2>
    <h3>合計支出</h3>
    <p>流動支出合計: {{ total_variable_expenses|intcomma }}円</p>
    <p>固定支出合計: {{ total_fixed_expenses|intcomma }}円</p>
    <p>全体の合計: {{ total_expenses|intcomma }}円</p>

    <!-- ボタンのスタイルを .btn-custom と .btn-detail に統一 -->
    <a href="{% url 'accountbook:variable_expense_list' %}" class="btn-custom">流動支出</a>
    <a href="{% url 'accountbook:monthly_fixed_expenses' %}" class="btn-custom">固定支出</a>
    <a href="{% url 'accountbook:accountbook_list' %}" class="btn-detail">戻る</a>
    <a href="{% url 'home' %}" class="btn-custom">Home</a>
</div>
{% endblock %}
