{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h2>集計結果</h2>
    <!-- 集計結果の表示 -->
</div>
{% endblock %}
