{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div {
        text-align: center;
    }
    div a, div button {
        display: inline-block;
        margin: 10px;
    }
    .error-message {
        color: red; /* エラーメッセージを赤色で表示 */
    }
    .required {
        color: red; /* 必須フィールドのアスタリスクを赤色で表示 */
    }
</style>
<h2>Edit Profile</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                    <span class="required">*</span> <!-- 必須マークを表示 -->
                {% endif %}
            </label>
            {{ field }}
            {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Save changes</button>
    <a href="{% url 'home' %}" class="btn btn-primary">ホームに戻る</a>
</form>
{% endblock %}
