{% extends "base.html" %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        text-align: center;
        margin-top: 5rem;
    }
    div a {
        display: inline-block;
        margin: 0 10px;
    }
    .error-message {
        color: red; /* エラーメッセージを目立たせるためのスタイリング */
    }
</style>
<div class="container">
    <!-- ページのタイトルとして「パスワードリセット」を表示 -->
    <h2>Password Reset</h2>
    <!-- パスワードリセット手続きの説明を追加 -->
    <form method="post">
        {% csrf_token %}
        <p>Please enter your email address to receive a link to reset your password.</p>
        <!-- フォーム全体のエラー表示 -->
        {{ form.non_field_errors }}
        {% for field in form %}
            <div>
                <!-- 各入力フィールドとそのラベル、ユーザーが入力しやすいように整理されて表示 -->
                {{ field.label_tag }} {{ field }}
                <!-- 入力エラーがあれば、各フィールドに対して赤色のエラーメッセージとして表示 -->
                {% for error in field.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <!-- リセットリンクを送信するボタン -->
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}
