{% extends "base.html" %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container mt-5">
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        <p>Please enter your email address to receive a link to reset your password.</p>
        {{ form.email }}
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}
