{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* 画面全体の高さを100vhに設定し、中央に内容を配置 */
        margin: 0;
    }
    div {
        text-align: center;
    }
    div a {
        display: inline-block;
        margin: 0 10px;
    }
    .error-message {
        color: red; /* エラーメッセージを赤色で表示し、注意を引くためのスタイリング */
    }
</style>
<!-- ページのタイトルとして「パスワード変更」を表示 -->
<h2>Change Password</h2>
<!-- パスワード変更用のフォーム。セキュリティのためのCSRFトークンが含まれています -->
<form method="post">
    {% csrf_token %}
    <!-- フォーム全体に関連するエラーがあればここで表示されます -->
    {{ form.non_field_errors }}
    {% for field in form %}
        <div>
            <!-- 各入力フィールドとそのラベル、ユーザーが入力しやすいように整理されて表示 -->
            {{ field.label_tag }} {{ field }}
            <!-- 入力エラーがあれば、各フィールドに対して赤色のエラーメッセージとして表示 -->
            {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <!-- フォームを送信するためのボタン、パスワードの変更を実行 -->
    <button type="submit">Change my password</button>
</form>
{% endblock %}
