{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h1>プロファイル編集</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">更新</button>
    </form>
    <a href="{% url 'home' %}" class="btn btn-info">ホーム</a>
    <a href="{% url 'accounts:user_detail' user.id %}" class="btn btn-info">戻る</a>
</div>
{% endblock %}
