{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h1>{{ user_obj.username }}のプロファイル</h1>
    <p>メール: {{ user_obj.email }}</p>
    <!-- その他のユーザー情報を表示 -->

    <a href="{% url 'accounts:user_edit' user_obj.pk %}">編集</a>
    <a href="{% url 'accounts:user_delete' user_obj.pk %}">削除</a>
    <a href="{% url 'home' %}" class="btn btn-info">ホーム</a>
</div>
{% endblock %}
