{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h2>新しい価値観を追加</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">保存</button>
    </form>
    <a href="{% url 'values:value_list' %}" class="btn btn-secondary">戻る</a>
</div>
{% endblock %}