{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h2>{{ value.title }}</h2>
    <p>{{ value.description }}</p>
    <a href="{% url 'values:value_edit' value.id %}" class="btn btn-primary">編集</a>
    <a href="{% url 'values:value_list' %}" class="btn btn-secondary">価値観リストに戻る</a>

    <!-- 削除ボタンのフォーム -->
    <form action="{% url 'values:value_delete' value.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button>
    </form>
</div>
{% endblock %}