{% extends 'base.html' %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .no-bullets {
        list-style-type: none;
        padding-left: 0;
        width: 100%;
    }
</style>

<div class="centered-content">
    <h1>Welcome to LifeNavigator!</h1>
    <p>This is the home page of the project.</p>

    <ul class="no-bullets">
        <li><a href="{% url 'tasks:task_list' %}" class="btn btn-primary">TaskList</a></li>
        <li><a href="{% url 'goals:goal_setting' %}" class="btn btn-primary">目標設定</a></li>
        <li><a href="{% url 'accountbook:accountbook_list' %}" class="btn btn-primary">家計簿</a></li>
        <li><a href="{% url 'calendars:calendar_view' %}" class="btn btn-primary">カレンダー</a></li>
        <li><a href="{% url 'values:value_list' %}" class="btn btn-primary">価値観</a></li>
        <li><a href="{% url 'memos:memo_list' %}" class="btn btn-primary">メモ</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'accounts:user_detail' request.user.pk %}" class="btn btn-primary">ユーザー情報</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; padding: 0; margin: 0; font: inherit; color: #007bff; cursor: pointer;" >ログアウト</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}" class="btn btn-primary">ログイン</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
