{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
    <div class="centered-container">
        <h2>{{ user.username }}'s Profile</h2>
        <p>{{ profile.bio }}</p>
    </div>
{% endblock %}