{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    label {
        display: block;
        margin: 10px 0 5px;
    }
    input[type="number"], input[type="text"], input[type="date"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input:focus {
        border-color: #4A90E2;
        box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
    }
    .btn-custom, .btn-detail {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        display: block;
        text-align: center;
        margin: 10px 0;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
    }
    .btn-custom {
        background-color: #4CAF50;
        color: white;
        border-color: #4CAF50;
    }
    .btn-custom:hover {
        background-color: white;
        color: #4CAF50;
    }
    .btn-detail {
        background-color: #3498db;
        color: white;
        border-color: #3498db;
    }
    .btn-detail:hover {
        background-color: white;
        color: #3498db;
    }
</style>
<div class="container">
    <!-- ページタイトルとしてメモリストを表示 -->
    <h2>Memo List</h2>
    <!-- 検索フォーム、ユーザーがメモを検索できるようにする -->
    <form method="get" class="mb-3">
        {{ form.as_p }}
        <!-- 検索ボタン -->
        <button type="submit" class="btn-custom">Search</button>
    </form>
    <!-- メモの一覧表示 -->
    <ul class="list-unstyled">
        {% for memo in memos %}
            <li>
                <!-- 各メモの詳細ページへのリンク付きタイトル -->
                <h3><a href="{% url 'memos:memo_detail' memo.id %}" class="btn btn-primary">{{ memo.title }}</a></h3>
            </li>
        {% endfor %}
    </ul>
        <!-- 新しいメモを追加するためのリンク、ユーザビリティを向上させるためにボタンスタイルを採用 -->
    <a href="{% url 'memos:memo_add' %}" class="btn-custom">メモ追加</a>
    <!-- ホームページへのリンク、ナビゲーションを容易にする -->
    <a href="{% url 'home' %}" class="btn-custom">Home</a>
</div>
{% endblock %}
