{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div {
        text-align: center;
    }
    div a {
        display: inline-block;
        margin: 0 10px;
    }
</style>
<div class="container">
    <!-- ページのタイトルを表示し、現在の操作がメモの削除であることを明示 -->
    <h2>メモ削除</h2>
    <!-- メモ削除確認用のフォーム。セキュリティのためのCSRFトークンが含まれています -->
    <form method="post">
        {% csrf_token %}
        <!-- ユーザーに削除を再確認させるためのテキスト -->
        <p>本当に削除しますか？</p>
        <!-- メモを削除するためのボタン。警告色を用いて重要操作であることを強調 -->
        <button type="submit" class="btn btn-danger">削除</button>
    </form>
    <!-- ホームページへのリンク、サイトのメインページに簡単に戻るための手段 -->
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</div>
{% endblock %}
