{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<div class="container">
    <h2>メモ削除</h2>
    <form method="post">
        {% csrf_token %}
        <p>本当に削除しますか？</p>
        <button type="submit">削除</button>
    </form>
</div>
{% endblock %}
