{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<h2>達成目標</h2>

<ul>
    {% for task in tasks %}
    <li>{{ task.title }} - 完了日: {{ task.completed_at|date:"Y-m-d H:i" }}</li>
    {% endfor %}
</ul>

<a href="{% url 'goals:short_term_goals' %}">短期目標</a>
<a href="{% url 'goals:medium_term_goals' %}">中期目標</a>
<a href="{% url 'goals:long_term_goals' %}">長期目標</a>
<a href="{% url 'goals:goal_setting' %}">戻る</a>
<a href="{% url 'home' %}">ホーム</a>
{% endblock %}
