{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div {
        text-align: center;
    }
    div a {
        display: inline-block;
        margin: 0 10px;
    }
    .error-message {
        color: red; /* エラーメッセージを目立たせるためのスタイリング */
    }
</style>
<!-- ページのタイトルを表示し、現在の操作（タスク追加）を明確にします -->
<h1>タスク追加</h1>
<!-- タスク追加用のフォーム。CSRFトークンを含むことでセキュリティを確保 -->
<form method="post">
    {% csrf_token %}
    <!-- フォーム全体に関連するエラーがあればここで表示されます -->
    {{ form.non_field_errors }}
    {% for field in form %}
        <div>
            <!-- 各入力フィールドとそのラベル、ユーザーが入力しやすいように整理されて表示 -->
            {{ field.label_tag }} {{ field }}
            <!-- 入力エラーがあれば、各フィールドに対して赤色のエラーメッセージとして表示 -->
            {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <!-- フォームを送信するためのボタン、タスクを保存する操作を実行 -->
    <button type="submit" class="btn btn-primary">保存</button>
</form>
<!-- ホームページへのリンク、サイトのメインページに簡単に戻るための手段 -->
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
{% endblock %}
