{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div {
        text-align: center;
        margin-bottom: 20px; /* 各divの下の余白を増やして、全体的に余裕を持たせる */
    }
    .btn-custom, .btn-secondary-custom {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block;
        margin: 10px;
        border: none; /* 境界線を削除 */
    }
    .btn-custom {
        background-color: #4CAF50; /* 緑色の背景 */
        color: white;
    }
    .btn-custom:hover {
        background-color: white;
        color: #4CAF50; /* ホバー時のテキスト色を緑に */
        border: 1px solid #4CAF50; /* ホバー時に境界線を表示 */
    }
    .btn-secondary-custom {
        background-color: #3498db; /* 青色の背景 */
        color: white;
    }
    .btn-secondary-custom:hover {
        background-color: white;
        color: #3498db; /* ホバー時のテキスト色を青に */
        border: 1px solid #3498db; /* ホバー時に境界線を表示 */
    }
    .error-message {
        color: red; /* エラーメッセージの視認性を高めるために赤色で表示 */
    }
</style>
<h2>中期目標にタスクを追加</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div>
        {{ field.label_tag }} {{ field }}
        {% for error in field.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn-custom">追加</button>
</form>
<a href="{% url 'goals:medium_term_goals' %}" class="btn-secondary-custom">戻る</a>
<a href="{% url 'home' %}" class="btn-custom">Home</a>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var dateInputs = document.querySelectorAll('input[type="date"]');
    var today = new Date().toISOString().split('T')[0];
    dateInputs.forEach(function(input) {
        input.setAttribute('min', today);
    });
});
</script>
{% endblock %}
