{% extends 'base.html' %}

{% block content %}
<style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<h2>My Goals</h2>
<ul class="list-group">
    {% for goal in goals %}
        <li class="list-group-item">
            {{ goal.title }} - {{ goal.description }}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ goal.achievement_percentage }}%;" aria-valuenow="{{ goal.achievement_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ goal.achievement_percentage }}%</div>
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'goals:goal_add' %}" class="btn btn-primary">Add New Goal</a>
{% endblock %}
