<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Goals Overview</title>
</head>
<body>
    <h1>目標設定</h1>
    <ul>
        <li><a href="{% url 'goals:short_term_goals' %}">短期目標</a></li>
        <li><a href="{% url 'goals:medium_term_goals' %}">中期目標</a></li>
        <li><a href="{% url 'goals:long_term_goals' %}">長期目標</a></li>
        <li><a href="{% url 'goals:achieved_goals' %}">達成目標</a></li>
    </ul>
    <a href="{% url 'home' %}">戻る</a>
</body>
</html>
