{% extends "base.html" %}

{% block content %}
 <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
<h2>Daily</h2> <!-- "Daily" タイトルを追加 -->
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="task">
            {{ form.id }}
            {{ form.status }} {{ form.priority }} {{ form.title }}
            <button formaction="{% url 'tasks:update_task_status' form.instance.id %}" formmethod="post">完了にする</button>
        </div>
    {% endfor %}
</form>
<a href="{% url 'tasks:add_daily_task' %}">タスク追加</a>
<a href="{% url 'tasks:task_list' %}">戻る</a>
<a href="{% url 'home' %}">ホーム</a>
{% endblock %}