{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    div.task {
        text-align: center;
        margin-bottom: 10px;
    }
    /* 他のCSSスタイル */
</style>
<h2>Monthly Tasks</h2>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="task">
            {{ form.id }}
            {{ form.status }} {{ form.priority }} {{ form.title }}
            <button formaction="{% url 'tasks:update_task_status' form.instance.id %}" formmethod="post">完了にする</button>
        </div>
    {% endfor %}
</form>

<a href="{% url 'tasks:add_monthly_task' %}" class="btn btn-primary">タスク追加</a>
<a href="{% url 'calendars:calendar_view' %}" class="btn btn-secondary">カレンダーへ</a>
<a href="{% url 'tasks:task_list' %}" class="btn btn-info">戻る</a>
<a href="{% url 'home' %}" class="btn btn-info">ホーム</a>

<script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}