<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <!-- Bootstrap CSSの読み込み -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        div {
            text-align: center;
        }
        div a {
            display: inline-block;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <h2>Task List</h2>
    <div>
        <!-- 各リンクにBootstrapのボタンスタイルを適用 -->
        <a href="{% url 'tasks:daily_tasks' %}" class="btn btn-primary">Daily</a>
        <a href="{% url 'tasks:monthly_tasks' %}" class="btn btn-primary">Monthly</a>
        <a href="{% url 'tasks:completed_tasks' %}" class="btn btn-primary">完了タスク</a>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </div>
</body>
</html>
