{% extends 'base.html' %}

{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* ビューポートの高さ全体にコンテンツを垂直方向に中央揃えする */
        margin: 0; /* ボディのデフォルトマージンを取り除く */
    }
    div {
        text-align: center; /* div内のテキストを中央に配置 */
    }
    div a {
        display: inline-block; /* リンクをインラインブロックで表示し、適切な間隔を持たせる */
        margin: 0 10px; /* リンクの周りに一定のマージンを設定 */
    }
    .error-message {
        color: red; /* エラーメッセージを赤色で表示し、ユーザーの注意を引く */
    }
</style>
<div class="container">
    <h2>タスクの追加/編集</h2>
    <!-- タスクの詳細を追加または編集するためのフォーム -->
    <form method="post">
        {% csrf_token %} <!-- CSRF攻撃を防ぐためのトークンを含める -->
        {{ form.non_field_errors }} <!-- 特定のフィールドに関連しないエラーを表示 -->
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }} <!-- 各フォームフィールドとそのラベルを表示 -->
                {% for error in field.errors %}
                    <div class="error-message">{{ error }}</div> <!-- 各フィールドに関連するエラーメッセージを表示 -->
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">変更を保存</button> <!-- フォームを提出するボタン -->
    </form>
</div>
<!-- ホームページへのリンク -->
<a href="{% url 'home' %}" class="btn btn-primary">ホーム</a>
{% endblock %}
